<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta content="text/html; charset=iso-8859-2" http-equiv="Content-Type">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-indigo.css">


<body>
  <div class="w3-container">

    <div class="w3-bar w3-border w3-black" style="border-radius: 20px;">
      <a href="#" class="w3-bar-item w3-button w3-padding-16">Home</a>
      <a href="#" class="w3-bar-item w3-button w3-padding-16">Contact</a>
      <a href="#" class="w3-bar-item w3-button w3-padding-16">Information</a>
    </div>

  </div>
  <!-- Sidebar -->
  <div class="w3-sidebar w3-grey w3-bar-block" style="width:25%; border-radius: 20px;">
    <h3 class="w3-bar-item">Menu</h3>
    <a href="#" class="w3-bar-item w3-button">Images</a>
    <a href="#" class="w3-bar-item w3-button">Plants</a>
    <a href="#" class="w3-bar-item w3-button">Features</a>
  </div>

  <!-- Page Content -->
  <div style="margin-left:25%">

    <div class="w3-container w3-teal">
      <h1 style="background-color: orange;padding: 20px; border-radius: 20px;">My Planet</h1>
    </div>

    <img src="assets/img/img2.jpg" alt="Car" style="width:100%;height: 900px;border-radius: 20px;">

  </div>

  <div style="margin-left:25%">
    <div class="w3-card-4">
      <div class="w3-container w3-theme w3-card">
        <h1>Indigo</h1>
      </div>
      
      <div class="w3-container w3-text-theme">
      <h2>w3-text-theme</h2></div>
      
      <ul class="w3-ul w3-border-top">
        <li class="w3-theme-l5">
        <a class="w3-button w3-xlarge w3-circle w3-theme-action"
        style="position:fixed;top:48px;right:24px;">+</a>
        <p>w3-theme-l5 (w3-theme-light)</p>
        </li>
        <li class="w3-theme-l4">
          <p>w3-theme-l4</p>
        </li>
        <li class="w3-theme-l3">
          <p>w3-theme-l3</p>
        </li>
        <li class="w3-theme-l2">
          <p>w3-theme-l2</p>
        </li>
        <li class="w3-theme-l1">
          <p>w3-theme-l1</p>
        </li>
        <li class="w3-theme">
          <p>w3-theme</p>
        </li>
        <li class="w3-theme-d1">
          <p>w3-theme-d1</p>
        </li>
        <li class="w3-theme-d2">
          <p>w3-theme-d2</p>
        </li>
        <li class="w3-theme-d3">
          <p>w3-theme-d3</p>
        </li>
        <li class="w3-theme-d4">
          <p>w3-theme-d4</p>
        </li>
        <li class="w3-theme-d5">
          <p>w3-theme-d5 (w3-theme-dark)</p>
        </li>
      </ul>
      </div>
  </div>

  
</body>

</html>